/*ПОДКЛЮЧЕНИЕ ШРИФТОВ*/

@font-face {
	font-family: "HammersmithOne Regular";
	src: url(../fonts/HammersmithOne-Regular.woff);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "PlayfairDisplay Black";
	src: url(../fonts/PlayfairDisplay-Black.woff);
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "PlayfairDisplay Bold";
	src: url(../fonts/PlayfairDisplay-Bold.woff);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "PlayfairDisplay Regular";
	src: url(../fonts/PlayfairDisplay-Regular.woff);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Roboto Black";
	src: url(../fonts/Roboto-Black.woff);
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Roboto Light";
	src: url(../fonts/Roboto-Light.woff);
	font-weight: 300;
	font-style: normal;
}
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
button:focus, button:active {
	outline: none;
}
/*Обозначение переменных*/
:root { 
--main-text-color: rgb(255, 255, 255);
--next-text-color: rgb(65, 61, 75);
--btn-text: rgb(0, 224, 208);
--btn-border: rgb(0, 224, 208);
--font-main: "Roboto Light", sans-serif;
--font-title: "PlayfairDisplay Bold";
--bg-color: rgb(52, 42, 85, 0.8);
--btn-font: "HammersmithOne Regular";
}
/*Конец*/
.body {
	font-size: 14px;
	font-family: var(--font-main);
	background-color: rgb(255, 255, 255);
	color: var(--main-text-color);
	width: 100%;
}
.wrapper {
	max-width: 940px;
	margin: 0 auto;
}
/*Первый экран с слайдером*/
.main {
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: var(--bg-color);
	background-blend-mode: darken;
	height: 75vh;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 70px;
}
.nav__items {
	list-style-type: none;
	display: flex;
}
.nav__item {
	margin-left: 1.8em;
}
.menu__link {
	display: block;
	font-family: "Roboto Black";
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--main-text-color);
	transition-duration: 0.7s;
	transition-property: all;
	transition-timing-function: ease-in-out;
}
.menu__link:hover {
	color: var(--btn-text);
	letter-spacing: 0.1em;
	transform: translate(5,0px);
}
.burger-nav {
	max-height: 50px;
	max-width: 50px;
	cursor: pointer;
	display: none;
}
.burger-nav__item {
	width: 30px;
	height: 4px;
	background-color: var(--btn-text);
	margin-bottom: 4px;
	display: block;
}
.main__title {
	text-align: center;
	color: var(--main-text-colot);
	font-family: "PlayfairDisplay Bold";
	font-size: 32px;
	margin-top: 160px;
	margin-bottom: 60px;
	position: relative;
}
.main__title:after {
	content: " ";
	height: 1px;
	width: 50px;
	background-color: rgb(0, 224, 208);
	position: absolute;
    top: 60px;
    left: 47%;
}
.main__text {
	text-align: center;
	color: var(--main-text-color);
	font-family: "Roboto Light";
	font-size: 16px;
	max-width: 770px;
	margin: 0 auto;
	line-height: 20px;
	margin-bottom: 5em;
}
.main__button {
	color: var(--btn-text);
	background: transparent;
	border: 1px solid var(--btn-border);
	margin: 0 auto;
	padding: 0.8em 1.5em;
	font-size: 16px;
	font-family: var(--btn-font);
	text-transform: uppercase;
	display: block;
	cursor: pointer;
	overflow: hidden;
	transition: 0.9s all ease;
	position: relative;
}
.main__button:before {
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	background: var(--btn-border);
	transform: translate(-50%,-50%) rotate(45deg);
	width: 100%;
	height: 0em;
	z-index: -1;
	transition: 1s all ease;
}
.main__button:hover {
	color: white;
	transform: scale(1.1);
}
.main__button:hover:before {
	height: 9em;
}
.story {
	background-color: rgb(255, 255, 255);
}
.story__items {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.story__item {
	display: flex;
	flex-flow: column;
	min-height: 260px;
	justify-content: space-between;
	align-items: flex-start;
}
.story__item:first-child {
	margin-right: 6.3em;
}
.title {
	font-family: var(--font-title);
	text-transform: uppercase;
	color: var(--next-text-color);
	text-align: center;
	font-size: 22px;
	flex: 1;
}
.story__text {
	color: var(--next-text-color);
	font-family: var(--font-main);
	flex: 1;
}
.story__btn {
	margin: 0 auto 0 0;
}
.video {
	background-image: url(..//images/video-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: var(--bg-color);
	background-blend-mode: darken;
	min-height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.video__icon {
	margin-bottom: 2em;
}
.video__text {
	text-transform: uppercase;
	font-family: "Roboto Black";
	color: var(--main-text-color);
}
.expertise__title {
	margin: 5em 0 1.4em 0;
}
.expertise__text {
	color: var(--next-text-color);
	text-align: center;
	font-family: "PlayfairDisplay Regular";
	position: relative;
}
.expertise__text:after {
	content: " ";
	height: 2px;
	width: 50px;
	background-color: rgb(198, 196, 201);
	position: absolute;
    top: 2.5em;
    left: 47%;
}
.expertise__items {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 7em;
	margin-bottom: 7em;
}
.expertise__item {
	height: 250px;
	flex-basis: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid rgb(198, 196, 201);
	border-bottom: 1px solid rgb(198, 196, 201);
}
.expertise__item:nth-child(3n) {
	border-right: none;
}
.expertise__item:nth-child(1n+4) {
	border-bottom: none;
}
.expertise__item-icon {
	margin: 2.3em 0;
}
.expertise__item-title {
	color: var(--next-text-color);
	font-family: "Roboto Black";
	text-transform: uppercase;
	margin-top: auto;
}
.expertise__item-text {
	color: var(--next-text-color);
	font-family: var(--font-main);
	text-align: center;
	margin: 1.5em 2em 3em 2em;
}
.team {
	background-image: url(..//images/team-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: var(--bg-color);
	background-blend-mode: darken;
	height: 90vh;
}
.team__title {
	text-align: center;
	color: var(--main-text-color);
	text-transform: uppercase;
	font-family: var(--font-title);
	font-size: 22px;
	padding-top: 5em;
	word-spacing: 0.1em;
	letter-spacing: 0.1em;
}
.team__text {
	text-align: center;
	color: var(--main-text-color);
	font-family: "PlayfairDisplay Regular";
	font-size: 14px;
	margin-top: 1em;
	margin-bottom: 7em;
	word-spacing: 0.1;
	position: relative;
}
.team__text:after {
	content: " ";
	height: 2px;
	width: 50px;
	background-color: rgb(198, 196, 201, 0.7);
	position: absolute;
    top: 3em;
    left: 47%;
}
.team__items {
	display: flex;
	justify-content: center;
	align-items: center;
}
.team__item {
	margin-right: 1.5em;
	border: 1px solid rgb(198, 196, 201, 0.7);
}
.team__item:last-child {
	margin-right: 0;
}
.team__item-title {
	text-align: center;
	margin-top: 1.2em;
	margin-bottom: 0.9em;
	text-transform: uppercase;
	font-family: "Roboto Black";
}
.team__item-text {
	text-align: center;
	text-transform: uppercase;
	font-family: var(--font-main);
	font-size: 13px;
	margin-bottom: 1.8em;
}
.team__text-bottom {
	text-align: center;
	font-family: var(--font-main);
	margin-top: 5em;
	margin-bottom: 3em;
}
.works__wrap {
	margin: 5em 0;
	display: flex;
}
.works__link {
	flex: 1;
	text-align: center;
	text-decoration: none;
	color: var(--next-text-color);
}
.works__link:after {
	content: ">";
	margin-left: 0.5em;
	font-size: 18px;
}
.gellery {
	display: flex;
	flex-wrap: wrap;
}
.works-img__wrap {
	flex: 1 1 15%;
}
.works__img {
	width: 100%;
	height: 100%;
}
.works__btn {
	margin: 5em auto;
}
.bq {
	background-image: url(..//images/bloquote_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: var(--bg-color);
	background-blend-mode: darken;
}
.bq__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	margin: 0 auto;
}
.bq__text {
	margin: 8em 0 3.5em 0;
	text-align: center;
	font-family: "PlayfairDisplay Regular";
	font-size: 1.2em;
	position: relative;
}
.bq__text:before {
	content: ",,";
	position: absolute;
	bottom: 100%;
	left: 50%;
	font-size: 5em;
	transform: rotate(180deg) translate(25px,-40px);
}
.bq__name {
	text-transform: uppercase;
	font-family: "Roboto Black";
	margin-bottom: 0.7em;
}
.bq__position {
	text-transform: uppercase;
	font-family: var(--font-main);
	font-size: 13px;
	margin-bottom: 2em;
}
.bq__photo {
	margin-bottom: 4em;
}
.contact__items {
	display: flex;
	justify-content: space-around;
	margin: 5em 0;
}
.contact__item {
	flex: 1 1 20%;
}
.contact__item:first-child {
	margin-right: 7em;
}
.contact__title {
	margin-bottom: 2em;
	text-align: left;
}
.contact__form {
	display: flex;
	flex-direction: column;
}
.contact__form input {
	margin-bottom: 1.5em;
	width: 100%;
	border: 2px solid rgba(65, 61, 75, 0.2);
	height: 2.5em;
}
.contact__form input::placeholder {
	color: rgba(65, 61, 75, 0.4);
	padding-left: 1em;
	font-family: var(--font-main);
	font-size: 1.2em;
}
.contact__form input:focus {
	border-color: rgb(0, 224, 208);
	outline: none;
}
.contact__form input:focus::placeholder {
	color: transparent;
}
.contact__form .form__massage {
	margin-bottom: 1.2em;
	border: 2px solid rgba(65, 61, 75, 0.2);
}
.contact__form .form__massage::placeholder {
	color: rgba(65, 61, 75, 0.4);
	padding-top: 1em;
	font-family: var(--font-main);
	font-size: 1.2em;
	padding-left: 1em;
}
.contact__form .form__massage:focus {
	border-color: rgb(0, 224, 208);
	outline: none;
}
.contact__form .form__massage:focus::placeholder {
	color: transparent;
}
.form__btn {
	margin: 0 auto 0 0;
	padding: 0.5em 1.5em;
}
.clients__items {
	display: flex;
	justify-content: space-between;
	height: 80%;
}
.clients__item-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.clients__item-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer {
	background-image: url(../images/footer_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-color: var(--bg-color);
	background-blend-mode: darken;
}
.footer__items {
	display: flex;
	justify-content: space-between;
	padding-top: 5em;
}
.footer__item {
	flex: 1 1 20%;
	margin-right: 2.5em;
}
.footer__item:last-child {
	margin-right: 0;
}
.footer_logo{
	margin-bottom: 1.5em;
}
.footer__title {
	color: var(--main-text-color);
	font-size: 1.1em;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 1.5em;
	margin-top: 1em;
}
.footer__text {
	font-family: var(--font-main);
	font-size: 1em;
}
.footer__contact {
	display: flex;
}
.footer__adress {
	font-family: var(--font-main);
	margin: 1em 0 1.5em 1em;
}
.fa-map-marker-alt {
	margin-top: 1em;
	font-size: 1.2em;
}
.footer__phone {
	font-family: var(--font-main);
	margin-left:1em;
}
.fa-phone {
	font-size: 1.2em;
}
.form-subscribe__email {
	height: 40px;
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.7);
}
.form-subscribe__email::placeholder {
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
}
.form-subscribe__email:focus {
	border-color: rgb(0, 224, 208);
	outline: none;
}
.form-subscribe__email:focus::placeholder {
	color: transparent;
}
.form-subscribe__btn {
	padding: 0.4em 1.2em;
	vertical-align: bottom;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
}
.footer__social {
	display: flex;
	align-items: center;
	margin-top: 1.4em;
}
.footer__social-link {
	text-decoration: none;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 30px;
	margin-right: 0.7em;
	width: 30px;
	height: 30px;
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
}
.social__icon {
	color: rgb(255, 255, 255);
	font-size: 0.8em;
	text-align: center;
}
.footer-bottom {
	padding: 5em 0;
}
.footer-bottom__items {
	display: flex;
	justify-content: space-between;
}
.footer-bottom__item {
	display: flex;
	list-style: none;
}
.footer-bottom__item {
	margin-right: 2em;
}
.footer-bottom__link {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--main-color-text);
	font-family: Roboto Black;
}

@media (max-width: 1400px) {
	.main {
		height: 100vh;
	}
	.team {
		height: 100vh;
	}
}
@media (max-width: 980px) {
	.main {
		height: 65vh;
	}
	.wrapper {
		margin: 0 3em;
	}
	.nav__items {
		display: none;
		position: absolute;
		width: 100vw;
		top: 0;
		right: 0;
		z-index: 1;
		background-image: linear-gradient(to left top, rgb(52, 42, 85)40%, rgb(0, 224, 208)99%);
	}
	.nav__item {
		text-align: center;
		display: block;
	}
	.nav__item:nth-child(n+1) {
		margin-top: 2em;
	}
	.nav__item:last-child {
		margin-bottom: 3em;
	}
	.menu__link {
		font-size: 20px;
	}
	.menu__link:hover {
		color: var(--main-volor-text);
		letter-spacing: 0;
		transform: none;
	}
	.burger-nav {
		position: absolute;
		top: 3%;
		right: 2%;
		max-height: 50px;
		max-width: 50px;
		cursor: pointer;
		display: block;
		z-index: 5;
	}
	.expertise__title {
		margin: 3.5em 0 1.2em 0;
	}
	.team {
		height: 140vh;
	}
	.team__title {
		padding-top: 3.5em;
		word-spacing: 0.1em;
		letter-spacing: 0.1em;
	}
	.team__items {
		flex-wrap: wrap;
	}
	.team__item {
		flex: 1 1 33%;
		height: 450px;
	}
	.team__photo {
		width: 100%;
		height: 80%;
	}
	.team__item:nth-child(2n){
		margin-right: 0;
	}
	.team__item:nth-child(-n + 2){
		margin-bottom: 3em;
	}
	.works__wrap {
		margin: 3.5em 0;
	}
	.works__btn {
		margin: 3.5em auto;
	}
	.contact__items {
		margin: 3.5em 0;
	}
	.contect__item:first-child {
		margin-right: 5em;
	}
	.footer__items {
		display: flex;
		justify-content: space-between;
		padding-top: 3.5em;
	}
	.footer-bottom {
		padding: 3.5em 0;
	}
}
@media(max-width: 800px) {
	.story__item:first-child {
		margin-right: 4.5em;
	}
	.expertise__items {
		margin-top: 5em;
		margin-bottom: 5em;
	}
	.expertise__item {
		height: 250px;
		flex-basis: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-right: 1px solid rgb(198, 196, 201);
		border-bottom: 1px solid rgb(198, 196, 201);
	}
	.expertise__item:nth-child(odd) {
		border-right: 1px solid rgb(198, 196, 201);
	}
	.expertise__item:nth-child(even) {
		border-right: none;
	}
	.expertise__item:nth-child(1n+4) {
		border-bottom: 1px solid rgb(198, 196, 201);
	}
	.expertise__item:nth-child(n + 5) {
		border-bottom: none;
	}
	.team {
		height: 120vh;
	}
	.team__item {
		height: 380px;
	}
	.team__item:nth-child(-n + 2){
		margin-bottom: 2em;
	}
	.team__photo {
		height: 75%;
	}
	.team__item-text {
		font-size: 12px;
		margin-bottom: 1em;
	}
	.team__text-bottom {
		margin-top: 3.5em;
		margin-bottom: 2em;
	}
	.works__link {
		flex: 1;
		text-align: center;
		text-decoration: none;
		color: var(--next-text-color);
	}
	.works__link:after {
		content: ">";
		margin-left: 0.5em;
		font-size: 18px;
	}
	.works-img__wrap {
		flex: 1 1 25%;
	}
	.contact__items {
		flex-direction: column;
	}
	.contact__item:first-child {
		margin-right: 0;
		order: 2;
	}
	.contact__item:last-child {
		order: 1;
		display: none;
	}
	.footer__items {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer__item {
		flex-basis: 40%;
		margin-right: 2em;
	}
	.footer__item:nth-child(2n){
		margin-right: 0;
	}
	.footer__item:last-child {
		flex: 0 1 40%;
		margin-top: 2em;
		text-align: center;
	}
	.footer__title {
		text-align: center;
	}
	.footer__social {
		justify-content: center;
	}

@media(max-width: 650px) {
	.body {
	font-size: 12px;
	}
	.wrapper {
		margin: 0 1em;
	}
	.main__title {
		font-size: 27px;
		margin-top: 120px;
		margin-bottom: 70px;
	}
	.main__text {
		font-size: 14px;
		margin-bottom: 7em;
	}
	.main__button {
		color: var(--btn-text);
		background: transparent;
		border: 1px solid var(--btn-border);
		margin: 0 auto;
		padding: 0.7em 1.2em;
		font-size: 14px;
	}
	.story__items {
		min-height: 350px;
	}
	.story__item {
		min-height: 240px;
	}
	.story__item:first-child {
		margin-right: 2em;
	}
	.title {
		font-size: 19px;
	}
	.story__btn {
		margin: 0 auto 0 0;
	}
	.expertise__item {
		height: 210px;
	}
	.expertise__item-icon {
		margin: auto
	}
	.expertise__item-title {
		margin-top: 2em;
	}
	.expertise__item-text {
		margin: 1.5em 2em 1.5em 2em;
	}
	.team {
		height: 120vh;
	}
	.works__btn {
		margin: 2.5em auto;
	}
	.footer__items {
		flex-direction: column;
		align-items: center;
	}
	.footer__item {
		margin-right: 0;
		width: 300px;
	}
	.footer__item:nth-child(2n){
		margin-right: 0;
	}
	.footer__item:last-child {
		flex: 0 1 70%;
		margin-top: 0;
		text-align: center;
	}
	.footer__title {
		text-align: center;
		font-size: 1.1em;
		margin-bottom: 1em;
		margin-top: 2em;
	}
	.footer_logo {
		margin: 0 auto 1em;
		display: block;
		position: center;
	}
	.footer__text {
		text-align: center;
	}
	.footer__contact {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	.footer__adress {
		margin: 0 0 1em 0;
		text-align: center;
	}
	.fa-map-marker-alt {
		margin-top: 0;
		font-size: 1em;
		text-align: center;
		padding-left: 1em;
	}
	.footer-bottom {
		padding: 1.5em 0;
	}
	.footer-bottom__items {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.footer-bottom__item {
		display: flex;
		list-style: none;
	}
	.footer-bottom__item {
		margin-right: 1em;
		margin-bottom: 0.5em;
	}
	.footer-bottom__item:last-child {
		margin-right: 0;
	}
}
@media(max-width: 450px) {
	.wrapper {
		margin: 0 0.5em;
	}
	.main {
		height: 90vh;
	}
	.main__title {
		font-size: 20px;
		margin-top: 100px;
		margin-bottom: 70px;
	}
	.main__title:after {
	    top: 50px;
	    left: 42%;
	}
	.main__text {
		font-size: 12px;
		margin-bottom: 4em;
	}
	.main__button {
		font-size: 12px;
	}
	.story__item:first-child {
		display: none;
	}
	.story__item {
		align-items: center;
		background-image: url(../images/block-logo.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-color: rgba(255, 255, 255, 0.8);
		background-blend-mode: color-burn;
	}
	.story__btn {
		margin: 0 0 0 0;
	}
	.expertise__title {
		margin: 2em 0 1em 0;
	}
	.expertise__text:after {
	    top: 2.5em;
	    left: 42%;
	}
	.expertise__items {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	.expertise__item {
		height: 200px;
		flex-basis: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-right: none;
		border-bottom: 1px solid rgb(198, 196, 201);
	}
	.expertise__item:nth-child(odd) {
		border-right: none;
	}
	.expertise__item:nth-child(n + 5) {
		border-bottom: 1px solid rgb(198, 196, 201);
	}
	.expertise__item-title {
		margin-top: 0;
	}
	.team {
		height: 140vh;
	}
	.team__title {
		padding-top: 2em;
		word-spacing: 0;
		letter-spacing: 0;
	}
	.team__text:after {
	    top: 2.5em;
	    left: 42%;
	}
	.team__text {
		font-size: 12px;
		margin-top: 1em;
		margin-bottom: 4em;
		word-spacing: 0;
		position: relative;
	}
	.team__items {
		flex-direction: column;
	}
	.team__item {
		margin-right: 0em;
		margin-bottom: 2em;
		height: 250px;
		flex-basis: 200px;
		border-top: none;
		border-left: none;
		border-right: none;
	}
	.team__item:last-child {
		margin-bottom: 0;
	}
	.team__photo {
		width: 70%;
        margin: 0 15%;
	}
	.team__item-title {
		margin-top: 1em;
		margin-bottom: 0.7em;
		font-size: 12px;
	}
	.team__item-text {
		font-size: 10px;
		margin-bottom: 0.8em;
	}
	.works-img__wrap {
		flex: 1 1 33%;
	}
	.works__wrap {
		margin: 2em 0;
	}
	.contact__items {
		margin: 2em 0;
	}
	.contact__title {
		margin-bottom: 1em;
	}
	.contact__form input {
		margin-bottom: 0.8em;
		width: 100%;
		height: 2em;
	}
	.contact__form .form__massage {
		margin-bottom: 1.2em;
		border: 2px solid rgba(65, 61, 75, 0.2);
	}
	.contact__form .form__massage::placeholder {
		color: rgba(65, 61, 75, 0.4);
		padding-top: 1em;
		font-family: var(--font-main);
		font-size: 1.2em;
		padding-left: 1em;
	}
	.contact__form .form__massage:focus {
		border-color: rgb(0, 224, 208);
		outline: none;
	}
	.contact__form .form__massage:focus::placeholder {
		color: transparent;
	}
	.form__btn {
		margin: 0 auto 0 0;
		padding: 0.5em 1.5em;
	}
}
@media(max-height: 850px) {
	.team {
		height: 170vh;
	}
}
@media(max-height: 740px) {
	.team {
		height: 190vh;
	}
@media(max-height: 670px) {
	.team {
		height: 205vh;
	}
}
@media(max-width: 360px) {
	.team {
		height: 235vh;
	}
}